<!DOCTYPE html>
<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/underscore-1.5.1.min.js"></script>
<script type="text/javascript" src="../js/backbone-1.0.0.min.js"></script>
<script type="text/javascript" src="../js/fileLoad_v2.js"></script>
<script>
fileLoadMainFrame();

var data;
var currPortType = 'port';
var selEntries_priority = null;
var selEntries_highPower = null;
var selEntries_powerMode = null;
var selEntries_powerLimitMode = null;
var selEntries_detectMode = null;
var selEntries_sched = null;
var selEntries_State = null;
var hasBt = false;

function validCheck()
{
  var valid = true;
  var powerMax = data.adminPower_max;
  var selectedEntries = $("input[name='selEntry']:checked");

  if (hasBt)
  {
      selectedEntries.each(function(index, lp) {
          if (data.ports[lp.value].maxPower < powerMax)
              powerMax = data.ports[lp.value].maxPower;
      });
  }

  if (hasProdCfg('hasGCStyle'))
  {
    if (hasBt === false && $('#adminPower').val().length)
    {
      var pwr = parseFloat($('#adminPower').val());
      var minPwr = (data.adminPower_min/1000);
      var maxPwr = (powerMax/1000);
      if (pwr > maxPwr || pwr < minPwr)
      {
        alert(br2Space(lang('err', 'errOutOfRangeArg', [pwr, lang('poe', 'txtPortPowerLimit', [data.powerUnit]), Math.round(minPwr*100)/100, Math.round(maxPwr*100)/100])));
        valid = false;
      }
    }
  }
  else
  {
    if (hasBt === false && $('#adminPower').val().length)
      valid &= validRange('adminPower', data.adminPower_min, powerMax, lang('poe', 'txtPortPowerLimit', [data.powerUnit]));
  }

  /* Validate Power Mode */
  if (hasBt && $('#powerMode').val().length)
  {
      if (parseInt($('#powerMode').val()) > 3)
      {
          /* BT mode */
          selectedEntries.each(function(index, lp) {
              if (data.ports[lp.value].isBtPort === false)
              {
                  valid &= false;
                  alert(br2Space(lang('err', 'errNotBtPort')));
                  return false;
              }
          });
      }
  }

  return valid;
}

function apply()
{
  if (validCheck())
    dataSet(url('set_sysPoEPort.html'), formDataGet('setform'));
}

function reset()
{
    dataSet(url('set_sysPoEPortReset.html'), formDataGet('setform'));
}

function cancel()
{
  var resp = {};
  var data = _top.window.frames['maincontent'].data;
  var frameContent = _top.window.frames['maincontent'].mainFrame;

  resp["data"] = data;
  frameContent.$el.html( frameContent.template(resp));
  _top.window.frames['maincontent'].PagePostInit();
  _top.window.frames['maincontent'].UpdateTopButtons();
  DisableAllTopButtons();
}

function TablesDecorate()
{
  $("#deviceStatus").tableAutoDecorator().css("border-bottom", "1px solid #E7E5E4");
  $("#fanStatus").tableAutoDecorator().css("border-bottom", "1px solid #E7E5E4");
  $("#tempStatus").tableAutoDecorator().css("border-bottom", "1px solid #E7E5E4");
  $("#versions").tableAutoDecorator().css("border-bottom", "1px solid #E7E5E4");
  $("#chassisFans").css("border-bottom", "1px solid #E7E5E4");
  $("#chassisTemp").css("border-bottom", "1px solid #E7E5E4");
  $(".tableStyle tr:last-child td").css("border-bottom", "0 none");
  $("#powerSupp").css("border-bottom", "1px solid #E7E5E4");
}

function init()
{
  fileLoadWait();

var mainView = Backbone.View.extend({
  el: '#main_container',
  template: _.template($('#main_content').html()),
  initialize: function() {
    ContentLoading();
    selEntries_priority = [['', -1], [lang('poe', 'txtPortPriLow'), 0], [lang('poe', 'txtPortPriMedium'), 1],[lang('poe', 'txtPortPriHigh'), 2], [lang('poe', 'txtPortPriCritical'), 3]];
    selEntries_highPower = [['', -1], [lang('poe', 'txtPortHighPowerDisabled'), 0], [lang('poe', 'txtPortHighPowerEnabled'), 1]];
    selEntries_powerMode = [['', -1], [lang('poe', 'txtPortPowerModeAf'), 0], [lang('poe', 'txtPortPowerModeLegacy'), 1], [lang('poe', 'txtPortPowerModeATCompatible'), 2], [lang('poe', 'txtPortPowerModeAT'), 3]];
    selEntries_powerLimitMode = [['', -1], [lang('poe', 'txtPortPowerLimitNone'), 0], [lang('poe', 'txtPortPowerLimitClass'), 1], [lang('poe', 'txtPortPowerLimitUser'), 2]];
    selEntries_detectMode = [['', -1], [lang('poe', 'txtPortDetectModeIEEE'), 0], [lang('poe', 'txtPortDetectModeIEEECompatible'), 1], [lang('poe', 'txtPortDetectModeLegacy'), 2]];
    selEntries_State = [['',-1],[lang('common','txtEnable'),1],[lang('common','txtDisable'),0]];

    /* For board support BT */
    if (hasProdCfg('hasPoeBt'))
    {
        hasBt = true;
        selEntries_powerMode.push([lang('poe', 'txtPortPowerModeBTCompatible'), 4]);
        selEntries_powerMode.push([lang('poe', 'txtPortPowerModeBTCompatibleLldpMax'), 5]);
        selEntries_powerMode.push([lang('poe', 'txtPortPowerModeBT3'), 6]);
    }

    this.render();
  },
  render: function() {
    var that = this;
    dataGet(url('get_sysPoEPort.html')).fetch({
      success: function(model, resp){
        logoutCheck(resp);
        data = resp.data;

        $('selEntries_sched').empty();
        selEntries_sched = [["",""], [lang('common', 'txtNone'),"?"]];

        if (!IsUndefOrNull(data.scheds))
        {
           _.each(data.scheds, function(sched, idx)
          {
             selEntries_sched.push(sched);
          })
        }

        that.$el.html( that.template(resp));
        tblDataAry = data.ports;

        PagePostInit();
        
        $("#userLimit").hide();
        
        TablesDecorate();
      }
    });
  },
  events: {
    'click [name=selEntry]' : 'selectEntry',
    'click [name=selAll]' : 'selectEntry',
    'change #powerLimitMode':'selPowerLimitMode'
  },
  selectEntry:function(e) {
    var selectCnt = 0;
    var pm = str2int(GetSelectVal('powerLimitMode'));
    _.each(data.ports, function(port, idx)
    {
      var isSelect = $('#selEntry_'+idx).is(':checked');

      if (isSelect)
      {
        selectCnt++;
      }
    })

    if (selectCnt != 0)
      EnableTopButton('Reset');
    else
      DisableTopButton('Reset');

    if (hasProdCfg('hasPoeBt') === false)
    {
        if (selectCnt == 1 && pm != 2)
            DisableInputText('adminPower');
        else
            EnableInputText('adminPower');
    }
  },
  selPowerLimitMode:function(e){
      
    if (hasProdCfg('hasPoeBt'))
        return;

    var pm = str2int(GetSelectVal('powerLimitMode'));
    if (2 == pm)
        EnableInputText('adminPower');
    else
        DisableInputText('adminPower');
  }
});

mainFrame = new mainView();
}
</script>
</head>

<body onload="init();" class="margin0px">
<div id="main_container"></div>
<script id="main_content" type="text/template">
<% TopButtons([RefreshButton(),ApplyButton('apply'), CreateAliasButton('Reset', 'reset', lang('poe', 'btnPowerCyClePort')), CancelButton('cancel')]) %>

<div id="setform" >
<%= BlockPortTableTop(lang('poe','titPoEPortConf'), 'poeInterfaceConfiguration') %>
<table class="dataTable portsel">
<thead>
<tr>
  <td><%= TableCheckboxAll() %></td>
  <td><%= lang('common','txtPort') %></td>
  <td><%= lang('poe','txtPortStateTD') %></td>
  <td><%= lang('poe','txtPortHighPowerStateTD') %></td>
  <td><%= lang('poe','txtPortMaxPowerTD',[data.powerUnit]) %></td>
  <td><%= lang('poe','txtPortPriTD') %></td>
  <td><%= lang('poe','txtPortPowerModeTD') %></td>
  <td><%= lang('poe','txtPortPowerLimitModeTD') %></td>
  <% if (hasProdCfg('hasPoeBt') === false) { %>
  <td><%= lang('poe','txtPortPowerLimitTD',[data.powerUnit]) %></td>
  <% } %>
  <td><%= lang('poe','txtPortDetectModeTD') %></td>
  <td><%= lang('poe','txtPortClass') %></td>
  <td><%= lang('poe','txtPortSchedTD') %></td>
  <td><%= lang('poe','txtPortVoltageTD') %></td>
  <td><%= lang('poe','txtPortAmphereTD') %></td>
  <td><%= lang('poe','txtPortPowerTD',[data.powerUnit]) %></td>
  <td><%= lang('poe','txtPortStatus') %></td>
  <td><%= lang('poe','txtPortFaultStatusTD') %></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td><%= SelectState('state', -1) %></td>
  <td></td>
  <td></td>
  <td><%= Select('priority', -1, selEntries_priority) %></td>
  <td><%= Select('powerMode', -1, selEntries_powerMode) %></td>
  <% if (hasProdCfg('hasPoeBt') === false) { %>
  <td><%= Select('powerLimitMode', -1, selEntries_powerLimitMode) %></td>
  <td><%= InputText('adminPower', '', 5, 5) %></td>
  <% } else { %>
  <td>
  <% } %>
  <td><%= Select('detectMode', -1, selEntries_detectMode) %></td>
  <td></td>
  <td><%= Select('sched', "", selEntries_sched) %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</thead>
<tbody>
  <% _.each(data.ports, function(port, idx) { %>
  <tr>
    <td><%= TableCheckbox(idx) %></td>
    <td><%= getPortId(idx) %></td>
    <td><%= GetSelectName(port.state, selEntries_State) %></td>
    <td><%= GetSelectName(port.highPower, selEntries_highPower) %></td>
    <td><%= port.maxPower %></td>
    <td><%= GetSelectName(port.priority, selEntries_priority) %></td>
    <td><%= GetSelectName(port.powerMode, selEntries_powerMode) %></td>
    <td><%= GetSelectName(port.powerLimitMode, selEntries_powerLimitMode) %></td>
    <% if (hasProdCfg('hasPoeBt') === false) { %>
    <% if ("2" == port.powerLimitMode) { %>
    <td><%= port.adminPower %></td>
    <% } else { %>
    <td act="editnone"><%= port.adminPower %></td>
    <% } %>
    <% } %>
    <td><%= GetSelectName(port.detectMode, selEntries_detectMode) %></td>
    <td><%= show(port.class) %></td>
    <% if ("?" == port.sched) { %>
    <td><%= GetSelectName(port.sched, selEntries_sched) %></td>
    <% } else { %>
    <td><%= MainFrameLink(GetSelectName(port.sched, selEntries_sched), "sys_ts_global.html") %></td>
    <% } %>
    <td><%= port.voltage  %></td>
    <td><%= port.amphere %></td>
    <td><%= port.power %></td>
    <td><%= show(port.status) %></td>
    <td><%= show(port.fault) %></td>
  </tr>
  <% }) %>
</tbody>
</table>
<%= BlockPortTableBot() %>
</div>
</script>

</body>

</html>
